@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Bakbak One", sans-serif;
}

#container {
  text-align: center;
}

.hidden {
  display: none;
}

#button {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 30px;
}

#container-item {
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#container-item:hover {
  text-decoration: none;
  color: red;
}

#container-item a:hover {
  color: white;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
}

#grid-item {
  margin: 40px;
  justify-self: center;
  text-align: center;
}

#logo {
  background-color: black;
}

@media screen and (min-width: 700px) {
  #container {
    display: flex;
  }

  #button {
    display: none;
  }
}

img {
  width: 200px;
}

#tyreButton {
  font-family: "Bakbak One", sans-serif;
  background-color: red;
  margin: 12px 0px 12px 0px;
  padding: 12px;
  border-radius: 5px;
  font-size: 15px;
}

#footer {
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 800px) {
  #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #grid-item {
    margin: 24px 0px 24px 0px;
  }

  img {
    width: 100px;
  }

  #footer {
    margin-top: 12px;
  }

  #button {
    float: left;
  }

  #logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo img {
    border-radius: px;
    margin: 15px 0px 15px 0px;
  }
}

#buttonForMode {
  font-family: "Bakbak One", sans-serif;
  font-size: 25px;
  border: 3px solid red;
  margin-top: 15px;
  margin: 15px;
}

.rotate {
  width: 100px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#itemHeader,
#selected-language {
  color: white;
  padding: 15px;
}

.fade-in-text {
  font-family: Arial;
  font-size: 15px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
